{% extends 'base.html' %}
{% load static %}
{% block title %}Change Password{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row no-gutter">
	<div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
	<div class="col-md-8 col-lg-6">
	  <div class="login d-flex align-items-center py-5">
		<div class="container">
		  <div class="row">
			  {% if messages %}
			<ul>
			  {% for message in messages %}
				  <li>{{ message }}</li>
			  {% endfor %}
			</ul>
			{% endif %}
			<div class="col-md-9 col-lg-8 mx-auto">
			  <h3 class="login-heading mb-4">Change Password !</h3>
			  <form method="post" action="">
				  {% csrf_token %}
				  <div class="form-label-group">
				  {{ form.old_password }}
				  <label for="id_old_password">Old password</label>
				  </div>
				  <div class="form-label-group">
				  {{ form.new_password1 }}
				  <label for="id_new_password1">New password</label>
				  </div>
				  <div class="form-label-group">
				  {{ form.new_password2 }}
				  <label for="id_new_password2">Confirm password</label>
				  </div>

				<input class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit" value="SAVE">
			  </form>
			  {{ form.errors }}
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>
</div>
{% endblock %}
{% block js %}
{{ form.media }}
{% endblock %}
