{% extends "base.html" %}
{% load static %}
{% block title %}Change Password | {{ super }}{% endblock %}

{% block body %}
		<div class="main-agileinfo">
			<div class="agileits-top">
                <h1>Edit your profile {{ user.username|title }} !</h1>
                    <form method="POST" action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.errors }}
                        {{ form.old_password.label}}
                        {{ form.old_password}}

                        {{ form.new_password1.label }}
                        {{ form.new_password1 }}

                        {{ form.new_password2.label }}
                        {{ form.new_password2 }}
                        <p class="password_form_info">Your password must match following rules:</p>
                            <ul class="password_form_list">
                            <li>minimum password length of 14 characters</li>
                            <li>must use of both uppercase and lowercase letters</li>
                            <li>must include of one or more numerical digits</li>
                            <li>must include of special characters, such as @, #, $</li>
                            <li>cannot contain the username or parts of the user’s full name, such as his first name</li>
                        </ul>
                        <input type="submit" class="button-primary" value="Save">
                    </form>
                    {% block js %}
                      {{ block.super }}
                      {{ form.media }}
                    {% endblock %}
            </div>
        </div>
{% endblock %}