{% extends "base.html" %}
{% load static %}
{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row no-gutter">
	<div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
	<div class="col-md-8 col-lg-6">
	  <div class="login d-flex align-items-center py-5">
		<div class="container">
		  <div class="row">
			  {% if messages %}
			<ul>
			  {% for message in messages %}
				  <li>{{ message }}</li>
			  {% endfor %}
			</ul>
			{% endif %}
			<div class="col-md-9 col-lg-8 mx-auto">
			  <h3 class="login-heading mb-4">Register !</h3>
			  <form method="post" action="{% url 'accounts:sign_up' %}">
				  {% csrf_token %}
				<div class="form-label-group">
				  {{ form.username }}
				  <label for="id_username">Username</label>
				</div>

				<div class="form-label-group">
				  {{ form.password1 }}
				  <label for="id_password1">Password</label>
				</div>

				<div class="form-label-group">
				  {{ form.password2 }}
				  <label for="id_password2">Confirm Password</label>
				</div>

				<input class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit" value="Sign Up">
				<div class="text-center">
				  <p>Already have an Account ?<a class="small" href="{% url 'accounts:sign_in' %}"> Sign In !</a></p></div>
			  </form>
			  {{ form.errors }}
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>
</div>
{% endblock %}
{% block js %}
<script>
	var form_fields = document.getElementsByTagName('input');
	form_fields[1].placeholder='Username';
	form_fields[2].placeholder='Password';
	form_fields[3].placeholder='Confirm Passowrd';

	for (var field in form_fields){
		form_fields[field].className += 'form-control'
	}
</script>
{% endblock %}
