{% extends "base.html" %}
{% load static %}
{% block title %}User Profile{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row no-gutter">
	<div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
	<div class="col-md-8 col-lg-6">
	  <div class="login d-flex align-items-center py-5">
		<div class="container">
		  <div class="row">
			<div class="col-md-9 col-lg-8 mx-auto">
			  <h3 class="login-heading mb-4">Welcome {{ user.username|title }}!</h3>
				<div class="form-label-group">
					<img class="align-self-center img-fluid rounded rounded-circle mr-2 my-0" style="width: 256px; height: 256px;"
					src="{{ user.profile.avatar.url }}"/>
              		<button class="btn btn-primary" onclick="window.location.href='{% url 'accounts:edit_profile' %}';">
						Edit Profile
						</button>
						<h4 class="login-heading mb-4">First name: {{ user.first_name }}</h4>
						<h4 class="login-heading mb-4">Last name: {{ user.last_name }}</h4>
						<h4 class="login-heading mb-4">Email: {{ user.profile.email }}</h4>
						<h4 class="login-heading mb-4">Date of birth: {{ user.profile.date_of_birth }}</h4>
						<h4 class="login-heading mb-4">City: {{ user.profile.city }}</h4>
						<h4 class="login-heading mb-4">Hobby: {{ user.profile.hobby }}</h4>
						<h4 class="login-heading mb-4">Bio: {{ user.profile.bio|safe }}</h4>
				</div>

			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>
</div>
{% endblock %}
